* {
    margin: 0;
    padding: 0;
    font-family: 'Neue-Montreal-Reg', 'sans-serif';
}

@font-face {
    font-family: Neue-Montreal-Reg;
    src: url(NeueMontreal-Regular.otf);
}

@font-face {
    font-family: Neue-Montreal-Med;
    src: url(NeueMontreal-Medium.otf);
}

@font-face {
    font-family: Neue-Montreal-Bold;
    src: url(NeueMontreal-Bold.otf);
}
*::-webkit-scrollbar-track {
    background-color: #d9d9d920;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #d9d9d920;
    border-radius: 30px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffffaf;
    border-radius: 20px;
}
.first {
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    width: 100vw;
    height: auto;
}

.thehead {
    position: absolute;
    width: 100%;
}

.thehead-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.thehead .logo {
    font-size: 3rem;
    margin: 1rem 2rem
}

.thehead .logo a {
    color: #9A9A9A;
}

.thehead .navbar {
    margin: 0 2rem;
}

.thehead .navbar .listofbutton {
    list-style: none;
}

.thehead .navbar .listofbutton li {
    display: inline-block;
    width: max-content;
    padding: 20px;
    position: relative;
}

.thehead .navbar .listofbutton a {
    text-decoration: none;
    color: #9A9A9A;
    font-size: 1.2rem;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
}

.thehead .navbar .listofbutton a:hover {
    color: white;
    border-bottom: 3px solid white;
    transition: ease-in-out 0.2s;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 999;

}

.submenu ul li {
    list-style: none;
    display: block;
    height: 15px;
}

#tool:hover .submenu {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 150px;
    height: 200px;
    transition: ease-in 0.8s;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

main .content {
    color: white;
    font-size: 2rem;
    top: 50%;
    text-align: center;

}

main .content h1 {
    font-family: 'Neue-Montreal-Bold', 'sans-serif';
    font-size: 3.5rem;
}

main .content p {
    font-family: 'Neue-Montreal-Med', 'sans-serif';
    color: #9A9A9A;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid white;
    background: transparent;
    color: white;
    position: relative;
    overflow: hidden;
}

button:hover {
    background-color: white;
    color: black;
    transition: ease-in 0.1s;
}

.year {
    color: #8afed8;
}

.content h1 {
    padding: 15px;
}

.second {
    width: 100%;
    height: 100vh;
    background-color: #101010;

}

.wrapper {
    display: flex;
    height: 100%;
    justify-items: center;
    align-items: center;
}

.second .container {
    display: grid;
    margin-left: 8%;
    margin-right: 8%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;


}

.box {
    padding: 30px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(130deg, rgba(0,0,0,0.3702074579831933) 40%, rgba(0,0,0,0.3281906512605042) 60%, rgba(17, 17, 121, 0.238) 100%);
    color: white;
    border: 2px solid rgba(24, 71, 171, 0.493);
}

.box__1 {
    grid-column: 1/2;
    grid-row: 1/4;
}

.box__2 {
    grid-column: 2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 3fr;


}

.box__3 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.box__2 .from {
    font-size: 3rem;
}

.box__2 .info {
    font-size: 1.8rem;
    padding: 30px;
    align-self: end;

}

.box__1 h1 {
    font-size: 2rem;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
    line-height: 1.4;
}

.box__3 h5 {
    font-size: 1.5rem;
}

.from h5 {
    color: #9D9D9D;
}

.info {
    color: #9D9D9D;
}

.info .yearcolor {
    color: #6BF899;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    padding-bottom: 40px;
    font-size: 1.2rem;
    color: white;
    background-color: #101010;
}

footer li {
    list-style: none;
    padding: 2px;
    line-height: 1.4;
}

footer a {
    text-decoration: none;
    color: white;
}

footer i {
    font-size: 2rem;
}

footer h3 {
    font-size: 1.5rem;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
}