@font-face {
    font-family: Neue-Montreal-Reg;
    src: url(NeueMontreal-Regular.otf);
}

@font-face {
    font-family: Neue-Montreal-Med;
    src: url(NeueMontreal-Medium.otf);
}

@font-face {
    font-family: Neue-Montreal-Bold;
    src: url(NeueMontreal-Bold.otf);
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --squid: #0e0e0e;
    --greysquid: #9A9A9A;
}

body {
    font-family: Neue Montreal;
    background-color: var(--squid);
}

.header {
    width: 100vw;
    height: auto;
}

.thehead {
    position: absolute;
    width: 100%;
}

.thehead-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}


.thehead .logo {
    font-size: 3rem;
    margin: 1rem 2rem
}

.thehead .logo a {
    color: #9A9A9A;
}

.thehead .navbar {
    margin: 0 2rem;
}

.thehead .navbar .listofbutton {
    list-style: none;
}

.thehead .navbar .listofbutton li {
    display: inline-block;
    width: max-content;
    padding: 20px;
    position: relative;
}

.thehead .navbar .listofbutton a {
    text-decoration: none;
    color: #9A9A9A;
    font-size: 1.2rem;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
}

.thehead .navbar .listofbutton a:hover {
    color: white;
    border-bottom: 3px solid white;
    transition: ease-in-out 0.2s;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 999;

}

.submenu ul li {
    list-style: none;
    display: block;
    height: 15px;
}

#tool:hover .submenu {
    display: block;
    position: absolute;
    background-color: transparent;
    width: 150px;
    height: 200px;
    transition: ease-in 0.8s;
}

.title {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 80px #ffffff;
    font-family: Neue Montreal;
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
}

.subtitle {
    color: #9D9D9D;
    font-family: Neue Montreal;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px 98px 0px 98px;
    gap: 55px;
}

.filter {
    display: flex;
    color: white;
    font-size: 1.5rem;
    border: 1px solid aliceblue;
    background: none;
    border-radius: 18px;
    padding: 35px 0px 60px 0px;
    gap: 35px;
    flex-direction: column;
}
.filter:hover{
    box-shadow: 0px 0px 20px #ffffff3f;
    background: rgba(255, 255, 255, 0);
    outline: none;
}
.squidhead {
    padding-left: 50px;
    background: none;
    font-weight: medium;
    font-size: 1.8rem;
    color: white;
    text-shadow: 0px 0px 80px rgb(255, 255, 255)8;
}
.holder {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 auto;
    width: 93%
}

.dropdown button {
    border-radius: 55px;
    border: 2px solid aliceblue;
    background: rgba(255, 255, 255, 0);
    color: white;
    padding: 10px 25px;
    font-size: 1.1rem;
}

.worldview:hover {
    box-shadow: 0px 0px 20px #ffffff53;
    background: rgba(255, 255, 255, 0);
}

.worldview:active {
    border: 2px solid rgb(107, 255, 211);
    background: rgba(255, 255, 255, 0);
    color: rgb(126, 255, 160);
}
a{
    color: white;
}
select {
    padding: 6px;
    font-size: 1.1rem;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.custommenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.thesub button {
    display: flex;
    border: 2px solid aliceblue;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0);
    flex-direction: row;
    gap: 15px;
    font-size: 1.1rem;
}

.thesub button:hover {
    box-shadow: 0px 0px 20px #ffffff53;
    background: rgba(255, 255, 255, 0);
    outline: none;
}

.thesub button:active {
    border: 2px solid rgb(107, 253, 255);
    background: rgba(255, 255, 255, 0);
    color: rgb(126, 221, 255);
    outline: none;
}

.squidshoulder {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.squidshoulder select {
    height: 100%;
    border-radius: 40px;
    padding: 0px 20px;
}

.squidbody {
    width: 100%;
}

.squidbody,
.squidmenu {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.squidmenu{
    margin-right: 38px;
}

.squidmenu select{
    background-color: transparent;
    padding: 10px 10px 10px 20px;
    border-radius: 40px;
}

.squidmenu select option{
    background-color: black;
}

button {
    border-radius: 55px;
    border: 2px solid aliceblue;
    background: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.1rem;
    padding: 10px 35px 10px 35px;
}

.result {
    border: 1px solid rgba(41, 213, 210, 0.437);
    background: rgb(44, 107, 136);
    background: linear-gradient(60deg, rgba(44, 107, 136, 0.499124649859944) 0%, rgba(0, 0, 0, 0.364670868347339) 39%, rgba(0, 0, 0, 0.46271008403361347) 56%, rgba(31, 117, 54, 0.3478641456582633) 100%);
    border-radius: 18px;
    padding: 60px 0px 80px 00px;
    margin-bottom: 100px;
}
.result:hover{
    border: 1px solid rgba(81, 255, 252, 0.647);
}

.squidlabel {
    background: none;
    font-weight: 500;
    font-size: 1.9rem;
    color: white;
}

.squidborder {
    border: 2px solid aliceblue;
    background: none;
    border-radius: 18px;
    height: 480px;
    width: 97%; 
    overflow: auto;
}
.squidborder table{
    height: 100%;
    overflow: auto;
}
.wrap {
    margin: 0 auto;
    width: 90%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    text-align: center;
    padding: 5px 10px 10px 10px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 435;
}

tr:nth-child(even) {
    background-color: #d9d9d920;
}
table .submit:hover{
    color:rgb(255, 194, 194)
}

table .submit:active{
    color:rgb(250, 113, 113)
}
table button{
    border: none;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    padding-bottom: 40px;
    padding-top: 50px;
    font-size: 1.2rem;
    color: white;
    background-color: #101010;
}

footer li {
    list-style: none;
    padding: 2px;
    line-height: 1.4;
}

footer a {
    text-decoration: none;
    color: white;
}

footer i {
    font-size: 2rem;
}

footer h3 {
    font-size: 1.5rem;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
}
*::-webkit-scrollbar-track {
    background-color: #d9d9d920;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #d9d9d920;
    border-radius: 30px;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffffaf;
    border-radius: 20px;
}

